{% for intf in l2_interfaces %}
default interface {{ intf.name }}
interface {{ intf.name }}
   description {{ intf.description }}
   mtu {{ intf.mtu }}
   {% if intf.switchport_mode is defined %}
     {% if intf.switchport_mode == 'access' %}
        switchport mode access
        switchport access vlan {{ intf.switchport_access_vlan }}
     {% elif intf.switchport_mode == 'trunk' %}
        switchport mode trunk
     {% else %}

     {% endif %}
   {% endif %}
   {% if intf.channel_group is defined %}
      channel-group {{ intf.channel_group }} mode active
   {% else %}

   {% endif %}
   {% if intf.vmtracer is defined %}
       vmtracer vmware-esx
   {% else %}

   {% endif %}
   {% if intf.status is defined %}
       shutdown
   {% else %}

   {% endif %}
{% endfor %}