{% for intf in l2_interfaces %}
default interface {{ intf.name }}
interface {{ intf.name }}
   description {{ intf.description }}
   mtu {{ intf.mtu }}
   {% if intf.switchport_mode == 'access' and not intf.channel_group %}
      switchport mode access
      switchport access vlan {{ intf.switchport_access_vlan }}
   {% elif intf.switchport_mode == 'trunk' %}
      switchport mode trunk
   {% endif %}
   {% if 'channel_group' in intf %}
      channel-group {{ intf.channel_group }} mode active
   {% else %}
       exit
   {% endif %}
   {% if 'vmtracer' in intf %}
       vmtracer vmware-esx
       exit
   {% else %}
       exit
   {% endif %}
{% endfor %}