{% for intf in vlan_interfaces %}
interface {{ intf.name }}
   description {{ intf.description }}
   ip address {{ intf.address }}
   {% if intf.ip_virtual_router_address is defined %}
      ip virtual-router address {{ intf.ip_virtual_router_address }}
   {% else %}
{% endfor %}