router bgp {{ bgp.as_local }}
   router-id {{ bgp.router_id }}
   maximum-paths 4 ecmp 4
   neighbor Leaf peer-group
   neighbor Leaf remote-as {{ bgp.as_spine }}
   neighbor Leaf fall-over bfd
   neighbor Leaf maximum-routes 12000
   {% for leaf in bgp.leaf %}
     neighbor {{ spine }} peer-group Leaf
   {% endfor %}
   {% for loopback in lo_interfaces %}
     network {{ loopback.address }}
   {% endfor %}